# ============================================================
# Python 编译产物
# ============================================================
__pycache__/
*.py[cod]
*$py.class
*.so

# 打包 / 分发
build/
dist/
*.egg-info/
.eggs/

# 虚拟环境
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# ============================================================
# IDE / 编辑器
# ============================================================
.idea/
.vscode/
*.swp

# ============================================================
# 操作系统
# ============================================================
.DS_Store
Thumbs.db

/simulation_result

/src/outer_old